<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greenart.mapper.CoronaInfoMapper">
    <insert id="insertCoronaInfo">
        INSERT INTO corona_info
        (
            accExamCnt, accExamCompCnt, careCnt, clearCnt, deathCnt, decideCnt, examCnt, resutlNegCnt, stateTime
        )
        VALUES
        (
            #{accExamCnt}, #{accExamCompCnt}, #{careCnt}, #{clearCnt}, 
            #{deathCnt}, #{decideCnt}, #{examCnt}, #{resutlNegCnt}, #{stateTime}
        );
    </insert>
    <select id="selectCoronaInfoByDate" resultType="com.greenart.vo.CoronaInfoVO">
        select * from corona_info where stateTime > str_to_date('2021-08-10', "%Y-%m-%d") LIMIT 1
    </select>
    <insert id="insertCoronaInfoSido">
        INSERT INTO corona_info.corona_sido
        (
            createDt, deathCnt, defCnt, gubun, incDec, isolClearCnt, isolIngCnt, localOccCnt, overFlowCnt
        )
        VALUES
        (
            #{createDt}, #{deathCnt}, #{defCnt}, #{gubun}, #{incDec}, 
            #{isolClearCnt}, #{isolIngCnt}, #{localOccCnt}, #{overFlowCnt}
        );
    </insert>
</mapper>
